body {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-feature-settings: "liga"on;
    text-rendering: optimizeLegibility;
    overflow-x: hidden;


    font-family: 'Poppins', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-family: 'Roboto', sans-serif;

    background-color: var(--side-primary-color);

    -webkit-touch-callout: none;
    /* iOS Safari */
    -webkit-user-select: none;
    /* Chrome/Safari/Opera */
    -khtml-user-select: none;
    /* Konqueror */
    -moz-user-select: none;
    /* Firefox */
    -ms-user-select: none;
    /* Internet Explorer/Edge */
    user-select: none;
    /* Non-prefixed version, currently
                                    not supported by any browser */
}

@media screen and (max-width: 576px) {
    body {
        overflow-y: scroll;
    }

}

@media screen and (min-width: 1025px) {
    .main {
        padding-left: 33.333333%;
        height: 100vh;
        overflow-y: auto;

    }


    .side {
        position: fixed;
    }
}

.side {
    background-color: var(--side-primary-color);

}

.side p {
    color: var(--side-secondary-color);
}

.side svg {
    color: var(--side-secondary-color);
}

.main {
    background-color: var(--primary-color);
}

.me {
    background-color: var(--side-secondary-color);
}

a {
    text-decoration: none;
    color: rgb(0, 0, 0) !important;
}

p,
a,
h1,
h2,
h3,
h4,
svg,
hr {
    color: var(--secondary-color);
}

.badge {
    color: var(--side-secondary-color);
    background-color: var(--temp-color);
    border-color: var(--secondary-color);
}

.badge svg {
    color: var(--side-secondary-color);
}


.proj {
    border-color: #AC9670;
}

.inf {
    display: table;
}

.inf svg,
span {
    display: table-cell;
    vertical-align: middle;
}

.icons {
    display: inline-flex;
}

footer {
    bottom: 0;
    width: 100%;
    background-color: var(--primary-color);
}

img {
    height: 200px;
}

.prj .shadow-lg{
    border-left-width: 2px;
    border-top-width: 2px;
    border-color: #ac967023;
}